*{
    margin: 0;
    padding: 0;
    border: 0;
}
@font-face{
    font-family: 'League Gothic';
    src: url('../font/leaguegothic/leaguegothic-regular-webfont.eot'),
    url('../font/leaguegothic/leaguegothic-regular-webfont.ttf'),
    url('../font/leaguegothic/leaguegothic-regular-webfont.woff');
}
@font-face{
    font-family: 'Open Sans light';
    src: url('../font/opensanslight/opensanslight.eot'),
    url('../font/opensanslight/opensanslight.ttf'),
    url('../font/opensanslight/opensanslight.woff');
}
@font-face{
    font-family: 'Open Sans Extrabold';
    src: url('../font/opensansextrabold/opensansextrabold.eot'),
    url('../font/opensansextrabold/opensansextrabold.ttf'),
    url('../font/opensansextrabold/opensansextrabold.woff');
}
@font-face{
    font-family: 'Myriad Pro regular';
    src: url('../font/myriadproregular/myriadproregular.eot'),
    url('../font/myriadproregular/myriadproregular.ttf'),
    url('../font/myriadproregular/myriadproregular.woff');
}
.clearfix::after{
    display: block;
    height: 0;
    clear: both;
    content: '';
    visibility: hidden;
}
.header-fon{
    background: url('../img/fon-960.jpg') center top no-repeat;
}
.footer-fon{
    background: url('../img/footer.jpg');
}
@media (min-width: 981px){
    .header{
        width: 960px;
        height: 217px;
        margin: 0 auto;
        padding-top: 61px;
    }
    .logo{
        font-family: 'League Gothic', Arial, serif;
        font-size: 48px;

        margin-left: -2px;
        color: #fff;
        letter-spacing: -.5px;
        text-shadow: 0 2px 2px rgba(0, 0, 0, .3);
    }
    p > .logo_after{
        background: -webkit-linear-gradient(#745083, #33263a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    p > .logo_after{
        color: #533b5e;
    }
    .logo p{
        font-family: 'League Gothic', Arial, serif;
        color: #ffffff;
        font-size: 48px;
        font-weight: 400;
        letter-spacing: -0.4px;
        line-height: 33.724px;
        text-align: left;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }
    .logo-position{
        float: left;
    }
    .menu{
        margin: 11px 2px 0 0;
        float: right;
    }
    .menu__cluster{
        display: inline-block;
        margin-left: 48px;
    }
    .menu__cluster:hover{
        border-bottom: 2px solid #edbfff;
    }
    .menu__link{
        display: block;
        color: #fff;
        font-family: 'League Gothic', Arial, serif;
        font-size: 24px;
        text-decoration: none;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
        text-transform: uppercase;
    }
    .slider-fon{
        background: rgba(0, 0, 0, .2);
    }
    .slider{
        width: 960px;
        height: 400px;
        margin: 0 auto;
    }
    .slider__article{
        width: 505px;
        margin: 72px 0 0 -2px;
        float: left;
        text-shadow: 0 2px 2px rgba(0, 0, 0, .3);
    }
    .slider__head{
        height: 62px;
        font-family: 'League Gothic', Arial, serif;
        font-size: 60px;
        text-transform: capitalize;
        color: #fefefe;
        font-weight: normal;
        letter-spacing: -0.5px;
    }
    .slider__subhead{
        padding-bottom: 2px;
        font-family: 'League Gothic', Arial, serif;
        font-size: 32px;
        text-transform: uppercase;
        color: #edbfff;
    }
    .slider__text{
        font-family: 'Open Sans light', Arial, serif;
        font-size: 18px;
        color: #fff;
        letter-spacing: -0.05px;
    }
    .slider__picture{
        float: right;
        position: relative;
        bottom: 17px;
        right: 73px;
    }
    .slider__link{
        display: block;
        position: absolute;
        right: 61px;
        bottom: 209px;
    }
    .switcher{
        width: 980px;
        margin: 0 auto;
    }
    .switcher__wrapper{
        margin: 91px 0 0 717px;
        padding-bottom: 54px;
    }
    .switcher__button{
        display: inline-block;
        width: 19px;
        height: 19px;
        background: url(../img/sprite/switcher.png) 1px 1px no-repeat;
    }
    .switcher__button:focus{
        background-position: 1px -17px;
    }
    .news{
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        background: linear-gradient(to top, #322539, #745083);
    }
    .news__wrapper{
        width: 960px;
        height: 340px;
        margin: 0 auto;
    }
    .news__unit{
        width: 280px;
        margin: 74px 51px 0 8px;
        float: left;
    }
    .news__unit:last-child{
        margin: 74px 0 0 2px;
    }
    .news__icon{
        width: 28px;
        height: 250px;
        margin: 8px 26px 0 0;
        float: left;
    }
    .news__head{
        margin-bottom: 5px;
        font-family: 'League Gothic', Arial, serif;
        font-size: 30px;
        font-weight: normal;
        color: #fff;
        text-shadow: 1px 1px 2px rgb(0, 0, 0);
    }
    .news__text{
        font-family: 'Open Sans light', Arial, serif;
        font-size: 16px;
        color: #fff;
        line-height: 24px;
        text-shadow: 1px 1px 2px rgb(0, 0, 0);
    }
    .news__link{
        display: block;
        margin: 16px 8px 0 0;
        float: right;
        font-family: 'League Gothic', Arial, serif;
        font-size: 18px;
        color: #fff;
        text-decoration: none;
        text-shadow: 1px 1px 2px rgb(0, 0, 0);
    }
    .news__link:hover{
        text-shadow: 0 0 8px rgba(255, 255, 255, .8);
    }
    .news-left{
        background: url("../img/sprite/blog.png") 1px 1px no-repeat;
    }
    .news-middle{
        background: url("../img/sprite/blog.png") -26px 1px no-repeat;
    }
    .news-right{
        background: url("../img/sprite/blog.png") -55px 1px no-repeat;
    }
    .blog{
        background: #f9f9f9;
        border-bottom: 1px solid #e6e6e6;
    }
    .blog__wrapper{
        width: 960px;
        height: 386px;
        margin: 0 auto;
        padding-top: 100px;
    }
    .blog__comments{
        width: 426px;
        margin-left: 22px;
        float: left;
    }
    .blog__comments-area{
        height: 209px;
        padding: 27px 30px 37px 39px;
        position: relative;
        background: #fff;
    }
    .blog__comments-icon{
        position: absolute;
        top: 18px;
        left: -24px;
    }
    .blog__comments-head{
        font-family: 'League Gothic', Arial, serif;
        font-size: 30px;
        text-transform: uppercase;
    }
    .blog__comments-head-left{
        color: #454545;
    }
    .blog__comments-head-right{
        color: #edbfff;
    }
    .blog__comments-text{
        margin-top: 6px;
        font-family: 'Open Sans light', Arial, serif;
        font-size: 16px;
        line-height: 24px;
        overflow: hidden;
        text-overflow: clip;
    }
    .blog__triangle{
        border: 20px solid transparent;
        border-top: 20px solid #fff;
        border-right: 20px solid #fff;
        position: absolute;
        top: 252px;
        right: 39px;
    }
    .blog_updates{
        width: 460px;
        height: 246px;
        padding-top: 27px;
        float: right;
    }
    .blog_updates-head{
        margin-left: 9px;
        font-family: 'League Gothic', Arial, serif;
        font-size: 30px;
        text-transform: uppercase;
        color: #454545;
    }
    .blog_article{
        margin: 12px 0 19px 9px;
        font-size: 16px;
        color: #454545;
    }
    .blog_article-icon{
        margin-right: 17px;
        float: left;
    }
    .blog_article-head{
        font-family: 'Open Sans Extrabold', Arial, serif;
    }
    .blog_article-preview{
        font-family: 'Open Sans light', Arial, serif;
        margin-top: 3px;
    }
    .switcher-blog{
        width: 357px;
        margin: 0;
        float: left;
    }
    .switcher__wrapper-blog{
        margin: 21px 0 0 168px;
        padding-bottom: 0;
    }
    .switcher__button-blog{
        display: inline-block;
        width: 19px;
        height: 19px;
        background: url(../img/sprite/switcher-coments.png) -22px 0 no-repeat;
    }
    .switcher__button-blog:focus{
        background-position: -1px 0;
    }
    .blog_link{
        display: block;
        margin: 2px 23px 0 0;
        float: right;
        font-family: 'League Gothic', Arial, serif;
        font-size: 18px;
        text-decoration: none;
        text-transform: uppercase;
        color: #454545;
    }
    .partners{
        background: #f9f9f9;
        border-top: 1px solid #fefefe;
        border-bottom: 1px solid #fefefe;
    }
    .partners_wrapper{
        width: 960px;
        margin: 0 auto;
    }
    .partners_list{
        padding: 24px 0 26px 93px;
    }
    .partners_logo{
        float: left;
        list-style: none;
        margin-right: 67px;
    }
    .partners_logo:nth-child(5){
        padding-top: 22px;
    }
    .partners_link{
        display: block;
    }
    .categories{
        background: #ececec;
        border-top: 1px solid #d8d8d8;
    }
    .categories_wrapper{
        width: 960px;
        margin: 0 auto;
        padding: 88px 0 92px;
    }
    .categories_area{
        width: 285px;
        float: left;
        margin-right: 52px;
    }
    .categories_area:last-child{
        margin: 0;
    }
    .categories_head{
        margin-bottom: 7px;
        font-family: 'League Gothic', Arial, serif;
        font-size: 48px;
        color: #454545;
        text-shadow: 0 1px 1px #fff;
    }
    .categories_head-color{
        color: #b9b9b9;
    }
    .categories_theme{
        padding: 4px 0 5px 0;
        font-family: 'League Gothic', Arial, serif;
        font-size: 30px;
        color: #454545;
        text-shadow: 1px 1px 1px #fff;
    }
    .categories_theme-cloak{
        display: none;
    }
    .categories_comments{
        padding: 4px 0 5px 0;
        font-family: 'League Gothic', Arial, serif;
        font-size: 30px;
        color: #454545;
        text-shadow: 1px 1px 1px #fff;
    }
    .copyright{
        font-family: 'Georgia', Arial, serif;
        font-size: 16px;
        color: #c9c9c9;
        font-style: italic;
        text-shadow: 1px 1px 1px #fff;
    }
    .categories_text{
        height: 170px;
        font-family: 'Open Sans light', Arial, serif;
        font-size: 16px;
        color: #787878;
        text-shadow: 1px 1px 1px #fff;
        line-height: 24px;
        overflow: hidden;
        text-overflow: clip;
    }
    .categories_text-left{
        height: 120px;
        margin-top: 10px;
    }
    .footer{
        width: 960px;
        margin: 0 auto;
    }
    .menu-footer{
        margin: 44px 0 46px -2px;
        float: left;
    }
    .menu__cluster-footer{
        display: inline-block;
        margin-right: 39px;
    }
    .menu__cluster-footer:hover{
        border-bottom: 2px solid #edbfff;
    }
    .menu__link-footer{
        display: block;
        color: #fff;
        font-family: 'League Gothic', Arial, serif;
        font-size: 20px;
        text-decoration: none;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
        text-transform: uppercase;
    }
    .footer_sign{
        margin-top: 51px;
        float: right;
        font-size: 12px;
        color: #fff;
        text-shadow: 2px 2px 2px #000;
    }
    .footer_sign-left{
        font-family: 'Open Sans light', Arial, serif;
    }
    .footer_sign-right{
        font-family: 'Open Sans Extrabold', Arial, serif;
    }
}
@media (min-width: 768px) and (max-width: 980px){
    .header{
        width: 768px;
        height: 184px;
        margin: 0 auto;
        padding-top: 75px;
    }
    .logo{
        font-family: 'League Gothic', Arial, serif;
        font-size: 48px;
        margin-left: -2px;
        color: #fff;
        letter-spacing: -.5px;
        text-shadow: 0 2px 2px rgba(0, 0, 0, .3);
    }
    p > .logo_after{
        background: -webkit-linear-gradient(#745083, #33263a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    p > .logo_after{
        color: #533b5e;
    }
    .logo p{
        font-family: 'League Gothic', Arial, serif;
        color: #ffffff;
        font-size: 48px;
        font-weight: 400;
        letter-spacing: -0.4px;
        line-height: 33.724px;
        text-align: left;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }
    .logo-position{
        padding: 0 0 12px 18px;
    }
    .menu{
        margin: 22px 0 0 18px;
    }
    .menu__cluster{
        display: inline-block;
        margin-right: 48px;
    }
    .menu__cluster:hover{
        border-bottom: 2px solid #edbfff;
    }
    .menu__link{
        display: block;
        color: #fff;
        font-family: 'League Gothic', Arial, serif;
        font-size: 24px;
        text-decoration: none;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
        text-transform: uppercase;
    }
    .slider-fon{
        background: rgba(0, 0, 0, .2);
    }
    .slider{
        width: 768px;
        height: 400px;
        margin: 0 auto;
    }
    .slider__article{
        width: 290px;
        margin: 93px 0 0 44px;
        float: left;
        text-shadow: 0 2px 2px rgba(0, 0, 0, .3);
    }
    .slider__head{
        height: 57px;
        font-family: 'League Gothic', Arial, serif;
        font-size: 48px;
        text-transform: capitalize;
        color: #fefefe;
        font-weight: normal;
        letter-spacing: -0.4px;
    }
    .slider__subhead{
        padding-bottom: 7px;
        font-family: 'League Gothic', Arial, serif;
        font-size: 24px;
        text-transform: uppercase;
        color: #edbfff;
    }
    .slider__text{
        font-family: 'Open Sans light', Arial, serif;
        font-size: 16px;
        color: #fff;
        letter-spacing: -0.05px;
        line-height: 26px;
    }
    .slider__picture{
        float: right;
        position: relative;
        bottom: 24px;
        right: 47px;
    }
    .slider__link{
        display: block;
        position: absolute;
        right: 61px;
        bottom: 209px;
    }
    .article-cloak{
        display: none;
    }
    .switcher{
        width: 768px;
        margin: 0 auto;
    }
    .switcher__wrapper{
        margin-left: 540px;
        padding-bottom: 92px;
    }
    .switcher__button{
        display: inline-block;
        width: 19px;
        height: 19px;
        background: url(../img/sprite/switcher.png) 1px 1px no-repeat;
    }
    .switcher__button:focus{
        background-position: 1px -17px;
    }
    .news{
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        background: linear-gradient(to top, #322539, #745083);
    }
    .news__wrapper{
        width: 768px;
        height: 340px;
        margin: 0 auto;
    }
    .news__unit{
        width: 215px;
        margin: 75px 7px 0 30px;
        float: left;
    }
    .news__unit:last-child{
        margin: 75px 0 0 39px;
    }
    .news__icon{
        width: 28px;
        height: 250px;
        margin: 4px 24px 0 0;
        float: left;
    }
    .news__head{
        margin-bottom: 2px;
        font-family: 'League Gothic', Arial, serif;
        font-size: 24px;
        font-weight: normal;
        color: #fff;
        text-shadow: 1px 1px 2px rgb(0, 0, 0);
    }
    .news__text{
        max-height: 145px;
        font-family: 'Open Sans light', Arial, serif;
        font-size: 16px;
        color: #fff;
        line-height: 24px;
        text-shadow: 1px 1px 2px rgb(0, 0, 0);
        overflow: hidden;
        text-overflow: clip;
    }
    .news__link{
        display: block;
        margin: 3px 17px 0 0;
        float: right;
        font-family: 'League Gothic', Arial, serif;
        font-size: 18px;
        color: #fff;
        text-decoration: none;
        text-shadow: 1px 1px 2px rgb(0, 0, 0);
    }
    .news__link:hover{
        text-shadow: 0 0 8px rgba(255, 255, 255, .8);
    }
    .news-left{
        background: url("../img/sprite/blog.png") 1px 1px no-repeat;
    }
    .news-middle{
        background: url("../img/sprite/blog.png") -26px 1px no-repeat;
    }
    .news-right{
        background: url("../img/sprite/blog.png") -55px 1px no-repeat;
    }
    .blog{
        background: #f9f9f9;
        border-bottom: #e6e6e6;
    }
    .blog__wrapper{
        width: 768px;
        height: 387px;
        margin: 0 auto;
        padding-top: 100px;
    }
    .blog__comments{
        width: 312px;
        margin-left: 43px;
        float: left;
    }
    .blog__comments-area{
        height: 209px;
        padding: 27px 30px 37px 39px;
        position: relative;
        background: #fff;
    }
    .blog__comments-icon{
        position: absolute;
        top: 18px;
        left: -24px;
    }
    .blog__comments-head{
        font-family: 'League Gothic', Arial, serif;
        font-size: 24px;
        text-transform: uppercase;
    }
    .blog__comments-head-left{
        display: block;
        margin-bottom: -2px;
        color: #454545;
    }
    .blog__comments-head-right{
        color: #edbfff;
    }
    .blog__comments-text{
        height: 145px;
        margin-top: 6px;
        font-family: 'Open Sans light', Arial, serif;
        font-size: 16px;
        line-height: 24px;
        overflow: hidden;
        text-overflow: clip;
    }
    .blog_updates{
        width: 362px;
        height: 246px;
        padding-top: 27px;
        float: right;
    }
    .blog_updates-head{
        margin-left: 9px;
        font-family: 'League Gothic', Arial, serif;
        font-size: 30px;
        text-transform: uppercase;
        color: #454545;
    }
    .blog_article{
        margin: 12px 0 19px 9px;
        font-size: 16px;
        color: #454545;
    }
    .blog_article-icon{
        margin-right: 17px;
        float: left;
    }
    .blog_article-head{
        font-family: 'Open Sans Extrabold', Arial, serif;
        overflow: hidden;
        text-overflow: clip;
    }
    .blog_article-preview{
        width: 260px;
        height: 24px;
        font-family: 'Open Sans light', Arial, serif;
        margin-top: 3px;
        overflow: hidden;
        text-overflow: clip;
    }
    .switcher-blog{
        width: 357px;
        margin: 0;
        float: left;
    }
    .switcher__wrapper-blog{
        margin: 22px 0 0 112px;
        padding-bottom: 0;
    }
    .switcher__button-blog{
        display: inline-block;
        width: 19px;
        height: 19px;
        background: url(../img/sprite/switcher-coments.png) -22px 0 no-repeat;
    }
    .switcher__button-blog:focus{
        background-position: -1px 0;
    }
    .blog_link{
        display: block;
        margin: -3px 31px 0 0;
        text-align: right;
        font-family: 'League Gothic', Arial, serif;
        font-size: 18px;
        text-decoration: none;
        text-transform: uppercase;
        color: #454545;
    }
    .partners{
        background: #f9f9f9;
        border-top: 1px solid #fefefe;
        border-bottom: 1px solid #fefefe;
    }
    .partners_wrapper{
        width: 768px;
        margin: 0 auto;
    }
    .partners_list{
        padding: 26px 0 26px 22px;
    }
    .partners_logo{
        float: left;
        list-style: none;
        margin-right: 58px;
    }
    .partners_logo:nth-child(5){
        padding-top: 22px;
    }
    .partners_logo:last-child{
        margin: 0;
    }
    .partners_link{
        display: block;
    }
    .categories{
        background: #ececec;
        border-top: 1px solid #d8d8d8;
    }
    .categories_wrapper{
        width: 749px;
        margin: 0 auto;
        padding: 93px 0 94px 19px;
    }
    .categories_area{
        width: 215px;
        float: left;
        margin-right: 50px;
    }
    .categories_area:last-child{
        margin: 0;
    }
    .categories_head{
        display: none;
    }
    .categories_comments{
        display: none;
    }
    .categories_theme{
        padding: 4px 0 5px 0;
        font-family: 'League Gothic', Arial, serif;
        font-size: 24px;
        color: #454545;
        text-shadow: 1px 1px 1px #fff;
    }
    .copyright{
        display: none;
    }
    .categories_text{
        height: 170px;
        font-family: 'Open Sans light', Arial, serif;
        font-size: 16px;
        color: #787878;
        text-shadow: 1px 1px 1px #fff;
        line-height: 24px;
        overflow: hidden;
        text-overflow: clip;
    }
    .footer{
        width: 768px;
        margin: 0 auto;
        padding-bottom: 84px;
    }
    .menu-footer{
        margin: 44px 0 46px 19px;
        float: left;
    }
    .menu__cluster-footer{
        display: inline-block;
        margin-right: 39px;
    }
    .menu__cluster-footer:hover{
        border-bottom: 2px solid #edbfff;
    }
    .menu__link-footer{
        display: block;
        color: #fff;
        font-family: 'League Gothic', Arial, serif;
        font-size: 20px;
        text-decoration: none;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
        text-transform: uppercase;
    }
    .footer_sign{
        margin: 100px 22px 0 0;
        float: right;
        font-size: 12px;
        color: #fff;
        text-shadow: 2px 2px 2px #000;
    }
    .footer_sign-left{
        font-family: 'Open Sans light', Arial, serif;
    }
    .footer_sign-right{
        font-family: 'Open Sans Extrabold', Arial, serif;
    }
}
@media (min-width: 496px) and (max-width: 767px){
    .header{
        width: 480px;
        height: 142px;
        margin: 0 auto;
        padding-top: 61px;
        position: relative;
    }
    .logo{
        font-family: 'League Gothic', Arial, serif;
        font-size: 48px;
        margin-left: -2px;
        color: #fff;
        letter-spacing: -.5px;
        text-shadow: 0 2px 2px rgba(0, 0, 0, .3);
    }
    p > .logo_after{
        background: -webkit-linear-gradient(#745083, #33263a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    p > .logo_after{
        color: #533b5e;
    }
    .logo p{
        font-family: 'League Gothic', Arial, serif;
        color: #ffffff;
        font-size: 48px;
        font-weight: 400;
        letter-spacing: -0.4px;
        line-height: 33.724px;
        text-align: left;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }
    .logo-position{
        text-align: center;
        padding-left: 35%;
    }
    .nav{
        position: relative;
    }
    .menu{
        position: absolute;
        top: 100px;
        left: 24.6%;
        width: 245px;
    }
    .menu:hover{
        background: rgba(54, 41, 62, .5);
        border: 1px solid #000;
        border-radius: 10px;
        z-index: 10;
    }
    .menu:hover .menu__cluster{
        display: block;
    }
    .menu__cluster{
        display: none;
        padding-top: 7px;
    }
    .menu__cluster:hover{
        border-bottom: 2px solid #edbfff;
        background: rgba(32, 17, 42, .5);
    }
    .menu__cluster:first-child:hover{
        border-radius: 10px 10px 0 0;
    }
    .menu__cluster:last-child:hover{
        border-radius: 0 0 10px 10px;
    }
    .menu__cluster-current{
        display: block;
        padding-top: 12px;
    }
    .menu__link{
        display: block;
        color: #fff;
        font-family: 'League Gothic', Arial, serif;
        font-size: 24px;
        text-decoration: none;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
        text-transform: uppercase;
        text-align: center;
        height: 34px;
    }
    .menu:hover .menu__link{
        border-bottom: 1px solid #523e5a;
    }
    .menu:hover .menu__cluster:last-child .menu__link{
        border-bottom: 0;
    }
    .menu__cluster:hover .menu__link{
        height: 32px;
    }
    .slider-fon{
        background: rgba(0, 0, 0, .2);
    }
    .slider{
        width: 480px;
        height: 246px;
        margin: 0 auto;
    }
    .slider__article{
        width: 205px;
        margin: 90px 0 0 41px;
        float: left;
    }
    .slider__head{
        height: 40px;
        font-family: 'League Gothic', Arial, serif;
        font-size: 36px;
        text-transform: capitalize;
        color: #fefefe;
        font-weight: normal;
        letter-spacing: -0.4px;
    }
    .slider__subhead{
        font-family: 'League Gothic', Arial, serif;
        font-size: 18px;
        font-weight: normal;
        text-transform: uppercase;
        color: #edbfff;
    }
    .slider__text{
        display: none;
        font-family: 'Open Sans light', Arial, serif;
        font-size: 16px;
        color: #fff;
        letter-spacing: -0.05px;
        line-height: 26px;
    }
    .slider__picture{
        width: 230px;
        height: 250px;
        float: right;
        position: relative;
        bottom: 9px;
        left: 8px;
    }
    .slider__link{
        display: block;
        position: absolute;
        right: 59px;
        bottom: 88px;
    }
    .article-cloak{
        display: none;
    }
    .slider__picture-size{
        width: 83.5%;
    }
    .slider__link-size{
        width: 71%;
    }
    .switcher{
        width: 480px;
        margin: 0 auto;
    }
    .switcher__wrapper{
        margin: 20px 0 0 200px;
        padding-bottom: 56px;
    }
    .switcher__button{
        display: inline-block;
        width: 19px;
        height: 19px;
        background: url(../img/sprite/switcher.png) 1px 1px no-repeat;
    }
    .switcher__button:focus{
        background-position: 1px -17px;
    }
    .news{
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        background: linear-gradient(to top, #322539, #745083);
    }
    .news__wrapper{
        width: 480px;
        height: 522px;
        margin: 0 auto;
    }
    .news__unit{
        margin: 56px 15px 0 32px;
    }
    .news__unit:first-child{
        margin: 75px 15px 0 32px;
    }
    .news__icon{
        width: 28px;
        height: 100px;
        margin: 4px 24px 0 0;
        float: left;
    }
    .news__head{
        margin-bottom: 2px;
        font-family: 'League Gothic', Arial, serif;
        font-size: 24px;
        font-weight: normal;
        color: #fff;
        text-shadow: 1px 1px 2px rgb(0, 0, 0);
    }
    .news__text{
        font-family: 'Open Sans light', Arial, serif;
        font-size: 16px;
        color: #fff;
        line-height: 24px;
        text-shadow: 1px 1px 2px rgb(0, 0, 0);
    }
    .news__link{
        display: block;
        margin: 12px 11px 0 0;
        float: right;
        font-family: 'League Gothic', Arial, serif;
        font-size: 18px;
        color: #fff;
        text-decoration: none;
        text-shadow: 1px 1px 2px rgb(0, 0, 0);
    }
    .news__link:hover{
        text-shadow: 0 0 8px rgba(255, 255, 255, .8);
    }
    .news-left{
        background: url("../img/sprite/blog.png") 1px 1px no-repeat;
    }
    .news-middle{
        background: url("../img/sprite/blog.png") -26px 1px no-repeat;
    }
    .news-right{
        background: url("../img/sprite/blog.png") -55px 1px no-repeat;
    }
    .blog{
        background: #f9f9f9;
        border-bottom: #e6e6e6;
    }
    .blog__wrapper{
        width: 496px;
        height: 716px;
        margin: 0 auto;
        padding-top: 70px;
    }
    .blog__comments{
        margin-left: 50px;
    }
    .blog__comments-area{
        width: 348px;
        height: 209px;
        padding: 24px 30px 37px 39px;
        float: left;
        position: relative;
        background: #fff;
    }
    .blog__comments-icon{
        position: absolute;
        top: 18px;
        left: -24px;
    }
    .blog__comments-head{
        font-family: 'League Gothic', Arial, serif;
        font-size: 30px;
        text-transform: uppercase;
    }
    .blog__comments-head-left{
        color: #454545;
    }
    .blog__comments-head-right{
        color: #edbfff;
    }
    .blog__comments-text{
        height: 170px;
        margin-top: 11px;
        font-family: 'Open Sans light', Arial, serif;
        font-size: 16px;
        line-height: 24px;
        overflow: hidden;
        text-overflow: clip;
    }
    .blog_updates{
        width: 362px;
        height: 246px;
        margin: 42px 0 0 80px;
    }
    .blog_updates-head{
        margin-left: 9px;
        font-family: 'League Gothic', Arial, serif;
        font-size: 30px;
        text-transform: uppercase;
        color: #454545;
    }
    .blog_article{
        margin: 12px 0 19px 9px;
        font-size: 16px;
        color: #454545;
    }
    .blog_article-icon{
        margin-right: 17px;
        float: left;
    }
    .blog_article-head{
        font-family: 'Open Sans Extrabold', Arial, serif;
        overflow: hidden;
        text-overflow: clip;
    }
    .blog_article-preview{
        width: 260px;
        height: 24px;
        font-family: 'Open Sans light', Arial, serif;
        margin-top: 3px;
        overflow: hidden;
        text-overflow: clip;
    }
    .switcher-blog{
        width: 417px;
        float: left;
    }
    .switcher__wrapper-blog{
        margin: 24px 0 0 157px;
    }
    .switcher__button-blog{
        display: inline-block;
        width: 19px;
        height: 19px;
        background: url(../img/sprite/switcher-coments.png) -22px 0 no-repeat;
    }
    .switcher__button-blog:focus{
        background-position: -1px 0;
    }
    .blog_link{
        display: block;
        margin: -4px 21px 0 0;
        float: right;
        font-family: 'League Gothic', Arial, serif;
        font-size: 18px;
        text-decoration: none;
        text-transform: uppercase;
        color: #454545;
    }
    .partners{
        background: #f9f9f9;
        border-top: 1px solid #fefefe;
        border-bottom: 1px solid #fefefe;
    }
    .partners_wrapper{
        width: 480px;
        margin: 0 auto;
    }
    .partners_list{
        padding: 37px 0 13px 0;
    }
    .partners_logo{
        float: left;
        list-style: none;
        margin: 0 0 23px 58px;
    }
    .partners_logo:first-child{
        margin-left: 81px;
    }
    .partners_logo:nth-child(4){
        margin-left: 67px;
    }
    .partners_logo:nth-child(5){
        padding-top: 20px;
    }
    .partners_logo:last-child{
        margin-left: 55px;
    }
    .partners_link{
        display: block;
    }
    .categories{
        background: #ececec;
        border-top: 1px solid #d8d8d8;
    }
    .categories_wrapper{
        width: 480px;
        margin: 0 auto;
        padding: 72px 0 37px;
    }
    .categories_area{
        margin: 0 16px 49px;
    }
    .categories_head{
        display: none;
    }
    .categories_comments{
        display: none;
    }
    .categories_theme{
        padding: 4px 0 5px 0;
        font-family: 'League Gothic', Arial, serif;
        font-size: 24px;
        color: #454545;
        text-shadow: 1px 1px 1px #fff;
    }
    .copyright{
        display: none;
    }
    .categories_text{
        height: 100px;
        font-family: 'Open Sans light', Arial, serif;
        font-size: 16px;
        color: #787878;
        text-shadow: 1px 1px 1px #fff;
        line-height: 24px;
        overflow: hidden;
        text-overflow: clip;
    }
    .footer{
        width: 480px;
        margin: 0 auto;
        padding-bottom: 83px;
    }
    .menu-footer{
        margin: 44px 0 33px 19px;
        float: left;
    }
    .menu__cluster-footer{
        display: inline-block;
        margin-right: 21px;
    }
    .menu__cluster-footer:hover{
        border-bottom: 2px solid #edbfff;
    }
    .menu__link-footer{
        display: block;
        color: #fff;
        font-family: 'League Gothic', Arial, serif;
        font-size: 20px;
        text-decoration: none;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
        text-transform: uppercase;
    }
    .footer_sign{
        margin-right: 173px;
        float: right;
        font-size: 12px;
        color: #fff;
        text-shadow: 2px 2px 2px #000;
    }
    .footer_sign-left{
        font-family: 'Open Sans light', Arial, serif;
    }
    .footer_sign-right{
        font-family: 'Open Sans Extrabold', Arial, serif;
    }
}
@media (max-width: 496px){
    .header{
        width: 320px;
        height: 135px;
        margin: 0 auto;
        padding-top: 61px;
        position: relative;
    }
    .logo{
        font-family: 'League Gothic', Arial, serif;
        font-size: 48px;
        margin-left: -30px;
        color: #fff;
        letter-spacing: -.5px;
        text-shadow: 0 2px 2px rgba(0, 0, 0, .3);
    }
    p > .logo_after{
        background: -webkit-linear-gradient(#745083, #33263a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    p > .logo_after{
        color: #533b5e;
    }
    .logo p{
        font-family: 'League Gothic', Arial, serif;
        color: #ffffff;
        font-size: 48px;
        font-weight: 400;
        letter-spacing: -0.4px;
        line-height: 33.724px;
        text-align: left;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }
    .logo-position{
        text-align: center;
        padding-left: 35%;
    }
    .nav{
        position: relative;
    }
    .menu{
        position: absolute;
        top: 100px;
        left: 10%;
        width: 245px;
    }
    .menu:hover{
        background: rgba(54, 41, 62, .5);
        border: 1px solid #000;
        border-radius: 10px;
    }
    .menu:hover .menu__cluster{
        display: block;
    }
    .menu__cluster{
        display: none;
        padding-top: 7px;
    }
    .menu__cluster:hover{
        border-bottom: 2px solid #edbfff;
        background: rgba(32, 17, 42, .5);
    }
    .menu__cluster:first-child:hover{
        border-radius: 10px 10px 0 0;
    }
    .menu__cluster:last-child:hover{
        border-radius: 0 0 10px 10px;
    }
    .menu__cluster-current{
        display: block;
        padding-top: 12px;
    }
    .menu__link{
        display: block;
        color: #fff;
        font-family: 'League Gothic', Arial, serif;
        font-size: 24px;
        text-decoration: none;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
        text-transform: uppercase;
        text-align: center;
        height: 34px;
    }
    .menu:hover .menu__link{
        border-bottom: 1px solid #523e5a;
    }
    .menu:hover .menu__cluster:last-child .menu__link{
        border-bottom: 0;
    }
    .menu__cluster:hover .menu__link{
        height: 32px;
    }
    .slider-fon{
        margin-top: 97px;
    }
    .slider{
        width: 320px;
        margin: 0 auto;
    }
    .slider__article{
        width: 205px;
        margin-left: 66px;
        float: left;
    }
    .slider__head{
        height: 40px;
        font-family: 'League Gothic', Arial, serif;
        font-size: 36px;
        text-transform: capitalize;
        color: #fefefe;
        font-weight: normal;
        letter-spacing: -0.4px;
    }
    .slider__subhead{
        font-family: 'League Gothic', Arial, serif;
        font-size: 18px;
        font-weight: normal;
        text-transform: uppercase;
        color: #edbfff;
    }
    .slider__text{
        display: none;
        font-family: 'Open Sans light', Arial, serif;
        font-size: 16px;
        color: #fff;
        letter-spacing: -0.05px;
        line-height: 26px;
    }
    .slider__picture{
        display: none;
        width: 230px;
        float: right;
        position: relative;
        bottom: 9px;
        left: 8px;
    }
    .slider__link{
        display: block;
        position: absolute;
        right: 63px;
        bottom: 142px;
    }
    .article-cloak{
        display: none;
    }
    .picture-size{
        width: 83.5%;
    }
    .switcher{
        width: 320px;
        margin: 0 auto;
    }
    .switcher__wrapper{
        margin: 74px 0 0 120px;
        padding-bottom: 64px;
    }
    .switcher__button{
        display: inline-block;
        width: 19px;
        height: 19px;
        background: url(../img/sprite/switcher.png) 1px 1px no-repeat;
    }
    .switcher__button:focus{
        background-position: 1px -17px;
    }
    .news{
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        background: linear-gradient(to top, #322539, #745083);
    }
    .news__wrapper{
        width: 320px;
        height: 529px;
        margin: 0 auto;
    }
    .news__unit{
        margin: 58px 20px 72px 30px;
    }
    .news__unit:first-child{
        margin: 68px 20px 0 30px;
    }
    .news__icon{
        width: 28px;
        height: 90px;
        margin: 4px 24px 0 0;
        float: left;
    }
    .news__head{
        margin-bottom: 2px;
        font-family: 'League Gothic', Arial, serif;
        font-size: 24px;
        font-weight: normal;
        color: #fff;
        text-shadow: 1px 1px 2px rgb(0, 0, 0);
    }
    .news__text{
        max-height: 70px;
        font-family: 'Open Sans light', Arial, serif;
        font-size: 16px;
        color: #fff;
        line-height: 24px;
        text-shadow: 1px 1px 2px rgb(0, 0, 0);
        overflow: hidden;
        text-overflow: clip;
    }
    .news__link{
        display: block;
        margin: 14px 7px 0 0;
        float: right;
        font-family: 'League Gothic', Arial, serif;
        font-size: 18px;
        color: #fff;
        text-decoration: none;
        text-shadow: 1px 1px 2px rgb(0, 0, 0);
    }
    .news__link:hover{
        text-shadow: 0 0 8px rgba(255, 255, 255, .8);
    }
    .news-left{
        background: url("../img/sprite/blog.png") 1px 1px no-repeat;
    }
    .news-middle{
        background: url("../img/sprite/blog.png") -26px 1px no-repeat;
    }
    .news-right{
        background: url("../img/sprite/blog.png") -55px 1px no-repeat;
    }
    .blog{
        background: #f9f9f9;
        border-bottom: #e6e6e6;
    }
    .blog__wrapper{
        width: 320px;
        height: 717px;
        margin: 0 auto;
        padding-top: 70px;
    }
    .blog__comments{
        margin-left: 45px;
    }
    .blog__comments-area{
        width: 206px;
        height: 209px;
        padding: 24px 15px 37px 34px;
        float: left;
        position: relative;
        background: #fff;
    }
    .blog__comments-icon{
        position: absolute;
        top: 18px;
        left: -24px;
    }
    .blog__comments-head{
        font-family: 'League Gothic', Arial, serif;
        font-size: 24px;
        text-transform: uppercase;
    }
    .blog__comments-head-left{
        display: block;
        margin-bottom: -5px;
        color: #454545;
    }
    .blog__comments-head-right{
        color: #edbfff;
    }
    .blog__comments-text{
        height: 170px;
        margin: 2px 0 0 2px;
        font-family: 'Open Sans light', Arial, serif;
        font-size: 16px;
        line-height: 24px;
        overflow: hidden;
        text-overflow: clip;
    }
    .blog_updates{
        width: 310px;
        height: 246px;
        margin: 42px 0 0 10px;
    }
    .blog_updates-head{
        margin-left: 9px;
        font-family: 'League Gothic', Arial, serif;
        font-size: 30px;
        text-transform: uppercase;
        color: #454545;
    }
    .blog_article{
        margin: 12px 0 19px 9px;
        font-size: 16px;
        color: #454545;
    }
    .blog_article-icon{
        margin-right: 17px;
        float: left;
    }
    .blog_article-head{
        width: 215px;
        height: 23px;
        font-family: 'Open Sans Extrabold', Arial, serif;
        overflow: hidden;
        text-overflow: clip;
    }
    .blog_article-preview{
        width: 220px;
        height: 22px;
        font-family: 'Open Sans light', Arial, serif;
        margin-top: 3px;
        overflow: hidden;
        text-overflow: clip;
    }
    .switcher-blog{
        width: 255px;
        float: left;
    }
    .switcher__wrapper-blog{
        margin: 24px 0 0 94px;
    }
    .switcher__button-blog{
        display: inline-block;
        width: 19px;
        height: 19px;
        background: url(../img/sprite/switcher-coments.png) -22px 0 no-repeat;
    }
    .switcher__button-blog:focus{
        background-position: -1px 0;
    }
    .blog_link{
        display: block;
        margin: 0 30px 0 0;
        float: right;
        font-family: 'League Gothic', Arial, serif;
        font-size: 18px;
        text-decoration: none;
        text-transform: uppercase;
        color: #454545;
    }
    .partners{
        background: #f9f9f9;
        border-top: 1px solid #fefefe;
        border-bottom: 1px solid #fefefe;
    }
    .partners_wrapper{
        width: 320px;
        margin: 0 auto;
    }
    .partners_list{
        padding: 51px 0 33px 0;
    }
    .partners_logo{
        float: left;
        list-style: none;
        margin: 0 0 58px 58px;
    }
    .partners_logo:first-child{
        margin-left: 61px;
    }
    .partners_logo:nth-child(3){
        margin: 0 0 -2px 74px;
    }
    .partners_logo:nth-child(5){
        padding-top: 2px;
        margin-left: 41px;
    }
    .partners_logo:last-child{
        margin: -17px 0 0 57px;
    }
    .partners_link{
        display: block;
    }
    .categories{
        display: none;
    }
    .footer{
        width: 320px;
        margin: 0 auto;
        padding: 39px 0 145px;
    }
    .menu-footer{
        display: none;
    }
    .footer_sign{
        text-align: center;
        font-size: 12px;
        color: #fff;
        text-shadow: 2px 2px 2px #000;
    }
    .footer_sign-left{
        font-family: 'Open Sans light', Arial, serif;
    }
    .footer_sign-right{
        font-family: 'Open Sans Extrabold', Arial, serif;
    }
}